@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  user-select: none;
}

@font-face {
  font-family: 'matterLight';
  src: url('/fonts/Matter-Light.ttf') format('ttf');
}

@font-face {
  font-family: 'matterRegular';
  src: url('/fonts/Matter-RegularItalic.ttf') format('ttf');

}


:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  /* color: rgb(var(--foreground-rgb)); */
  overflow-x: hidden;
  /* background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb)); */
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.blurEffect {
  filter: blur(15px);
  /* filter: brightness(0.2); */
  /* filter: contrast(200%); */

  /* filter: grayscale(50%); */
  /* filter: hue-rotate(90deg); */
  /* filter: invert(75%); */
  /* filter: opacity(25%); */

  pointer-events: none;
  user-select: none;

}

/* .animated-button {
  position: relative;
  content: "";
  border-radius: 60px;

}

.animated-button::after {
  content: "";
  width: 100%;
  height: 0;
  width: 0;
  position: absolute;
  background-color: black;
  border-radius: 60px;
  bottom: 0;

}

.animated-button:hover::after {
  height: 100%;
  cursor: pointer;
  width: 100%;
  transition: all;
  transition-duration: 0.5s;
} */


.animated-button {
  font-size: 30px;
  padding: 30px 50px;
  border: 2px solid grey;
  /* Border color */
  border-radius: 50px;
  /* Makes the button rounded */
  background-color: white;
  /* Initial background color */
  color: black;
  /* Initial text color */
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  /* Hide the sliding elements */
  transition: all 0.3s ease-in-out;
}

.animated-button span {
  position: relative;
  display: block;
  transition: all 0.3s ease-in-out;
}

.animated-button::after {
  content: "Our Work";
  position: absolute;
  left: 0;
  right: 0;
  bottom: -100%;
  /* Start below the button */
  background-color: black;
  /* Background color on hover */
  color: white;
  /* Text color on hover */
  transition: all 0.3s ease-in-out;
  text-align: center;
  border-radius: 50px;
  padding: 30px 50px;
}

.animated-button:hover span {
  transform: translateY(-100%);
  /* Move the text up */
  opacity: 0;
  /* Fade out the text */
}

.animated-button:hover::after {
  bottom: 0;
  /* Slide the text up */
}

.animated-button-submit {
  font-size: 30px;
  padding: 30px 50px;
  border: 2px solid grey;
  /* Border color */
  border-radius: 50px;
  /* Makes the button rounded */
  background-color: white;
  /* Initial background color */
  color: black;
  /* Initial text color */
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  /* Hide the sliding elements */
  transition: all 0.3s ease-in-out;
}

.animated-button-submit span {
  position: relative;
  display: block;
  transition: all 0.3s ease-in-out;
}

.animated-button-submit::after {
  content: "Submit";
  position: absolute;
  left: 0;
  right: 0;
  bottom: -100%;
  /* Start below the button */
  background-color: black;
  /* Background color on hover */
  color: white;
  /* Text color on hover */
  transition: all 0.3s ease-in-out;
  text-align: center;
  border-radius: 50px;
  padding: 30px 50px;
}

.animated-button-submit:hover span {
  transform: translateY(-100%);
  /* Move the text up */
  opacity: 0;
  /* Fade out the text */
}

.animated-button-submit:hover::after {
  bottom: 0;
  /* Slide the text up */
}

.animated-button2 {
  font-size: 20px;
  padding: 20px 15px;
  border: 2px solid grey;
  border-radius: 50px;
  background-color: white;
  /* This will be covered by the ::before pseudo-element */
  color: black;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
  position: relative;

  overflow: hidden;
  transition: background-color 0.3s ease-in-out;
  /* Transition for the button's background-color */
}

.animated-button2::before {
  content: '';
  position: absolute;
  left: 0;
  transform: translateY(-50%);
  right: 0;
  top: 50%;
  bottom: 0;
  color: black;
  background-color: white;
  /* Background color of the button */
  transition: all 0.8s ease-in-out;
  border-radius: 50px;
  /* Ensure this matches the button's border-radius */
  z-index: 0;
  /* Keep this layer below the text */
}

.animated-button2 span {
  position: relative;
  display: block;
  transition: all 0.5s ease-in-out;
  z-index: 1;

  /* Ensure text is above the ::before pseudo-element */
}

.animated-button2::after {
  content: "View Resources";
  position: absolute;
  left: 0;
  right: 0;
  bottom: -100%;
  /* Start below the button */
  background-color: black;
  /* Background color of the new content */
  color: white;
  /* Text color of the new content */
  transition: all 0.5s ease-in-out;
  text-align: center;
  border-radius: 50px;
  padding: 20px 15px;
  z-index: 2;
  /* Ensure this content is above the original text */
}

.animated-button2:hover::before {
  top: -100%;
  /* Slide the original background up */
}

.animated-button2:hover span {
  transform: translateY(-100%);
  /* Move the original text up */
  opacity: 0;
}

.animated-button2:hover::after {
  bottom: 0;
  /* Slide the new content up */
}

.footer-button {
  font-size: 20px;
  padding: 20px 15px;
  border: 2px solid grey;
  border-radius: 50px;
  background-color: white;
  /* This will be covered by the ::before pseudo-element */
  color: black;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
  position: relative;

  overflow: hidden;
  transition: background-color 0.3s ease-in-out;
  /* Transition for the button's background-color */
}

.footer-button::before {
  content: '';
  position: absolute;
  left: 0;
  transform: translateY(-50%);
  right: 0;
  top: 50%;
  bottom: 0;
  color: black;
  background-color: white;
  /* Background color of the button */
  transition: all 0.8s ease-in-out;
  border-radius: 50px;
  /* Ensure this matches the button's border-radius */
  z-index: 0;
  /* Keep this layer below the text */
}

.footer-button span {
  position: relative;
  display: block;
  transition: all 0.5s ease-in-out;
  z-index: 1;

  /* Ensure text is above the ::before pseudo-element */
}

.footer-button::after {
  content: "+1 301 549 9309";
  position: absolute;
  left: 0;
  right: 0;
  bottom: -100%;
  /* Start below the button */
  background-color: black;
  /* Background color of the new content */
  color: white;
  /* Text color of the new content */
  transition: all 0.5s ease-in-out;
  text-align: center;
  border-radius: 50px;
  padding: 20px 15px;
  z-index: 2;
  /* Ensure this content is above the original text */
}

.footer-button:hover::before {
  top: -100%;
  /* Slide the original background up */
}

.footer-button:hover span {
  transform: translateY(-100%);
  /* Move the original text up */
  opacity: 0;
}

.footer-button:hover::after {
  bottom: 0;
  /* Slide the new content up */
}

.footer-button2 {
  font-size: 20px;
  padding: 20px 15px;
  border: 2px solid grey;
  border-radius: 50px;
  background-color: white;
  /* This will be covered by the ::before pseudo-element */
  color: black;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
  position: relative;

  overflow: hidden;
  transition: background-color 0.3s ease-in-out;
  /* Transition for the button's background-color */
}

.footer-button2::before {
  content: '';
  position: absolute;
  left: 0;
  transform: translateY(-50%);
  right: 0;
  top: 50%;
  bottom: 0;
  color: black;
  background-color: white;
  /* Background color of the button */
  transition: all 0.8s ease-in-out;
  border-radius: 50px;
  /* Ensure this matches the button's border-radius */
  z-index: 0;
  /* Keep this layer below the text */
}

.footer-button2 span {
  position: relative;
  display: block;
  transition: all 0.5s ease-in-out;
  z-index: 1;

  /* Ensure text is above the ::before pseudo-element */
}

.footer-button2::after {
  content: "+1 301 549 9309";
  position: absolute;
  left: 0;
  right: 0;
  bottom: -100%;
  /* Start below the button */
  background-color: black;
  /* Background color of the new content */
  color: white;
  /* Text color of the new content */
  transition: all 0.5s ease-in-out;
  text-align: center;
  border-radius: 50px;
  padding: 20px 15px;
  z-index: 2;
  /* Ensure this content is above the original text */
}

.footer-button2:hover::before {
  top: -100%;
  /* Slide the original background up */
}

.footer-button2:hover span {
  transform: translateY(-100%);
  /* Move the original text up */
  opacity: 0;
}

.footer-button2:hover::after {
  bottom: 0;
  /* Slide the new content up */
}

.hover-underline-animation::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: black;
  transform-origin: bottom left;
  /* Set the transform origin to bottom right */
  transition: transform 0.5s ease-out;
  transform: scaleX(1);
  /* Initially set the scale to 1 (full width) */
}

.hover-underline-animation:hover::after {
  transform: scaleX(0);
  /* Scale to 0 (no width) when hovering */
  transform-origin: bottom right;
  /* Change the transform origin to bottom left */
}